div {
    width: 150px;
    height: 150px;
    margin: 10px;
    border: 1px solid grey;
    float: left;
}

.image-placeholder {
    background: black;
    width: 100%;
    height: 100px;
    display: block;
}